@import "src/styles/settings/settings";

.hints-wrapper {
  max-width: 300px;
  .hint-help-text {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .hint {
    @include white-shadow;

    background-color: color(greyBlue, 0.4);
    padding: 10px;
    border-radius: 4px;

    //p {
    //  white-space: nowrap;
    //  text-overflow: ellipsis;
    //  overflow: hidden;
    //}
  }

}